.title {
  margin: 0.6rem 0;
  font-size: calc(1vw + 1rem);
}

.imageDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.image {
  margin: 1rem;
  width: 35%;
}

.cardRow {
  width: 80%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 5vw;
}

.cardRow h2 {
  font-size: calc(0.5vw + 1rem);
}

.cardImg {
  aspect-ratio: 1;
  width: 20vw;
  object-fit: cover;
  border: 2px solid black;
  border-radius: 5px;
}












@media (min-width:900px) {
  .image {
    width: 30%;
  }
}

@media (max-width:530px) {
  .imageDiv {
    flex-direction: column;
  }
  .image {
    width: 80%;
  }
  .image:nth-child(even) {
    margin-left: auto;
  }
  .image:nth-child(odd) {
    margin-right: auto;
  }
}