@import "material-symbols";

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainContent.gameOn {
  transition: background-color 2s ease;
  background-color: #00000000;
}

.userTitle {
  min-height: 100px;
  max-height: 500px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  font-size: 3rem;
  padding-right: 5.5rem;
}

.userTitle > div {
  min-height: 100px;
  min-width: 400px;
}


:root {
  --card-height: 400px;
  --card-width: 280px;
}


.deckContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  container-type: inline-size;
  width: var(--card-width);
  aspect-ratio: 280 / 400;
  padding: 1rem;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 0.3cqw;
  border: black 1px dashed;
  background-color: var(--primary-color);
  position: absolute;
  z-index: 5;
  cursor: pointer;
  top: calc(50% - var(--card-height) / 2);
  right: calc(50% - var(--card-width) / 2);
}

.deckContainer.gameOn {
  transition:
    right 2s ease,
    top 2s ease,
    width 2s ease,
    height 2s ease,
    padding 2s ease;
  width: calc(var(--card-width) * 0.4);
  padding: 0.5rem;

  top: 1rem;
  right: calc(min(2cqw, 1rem) + 2px); /* 2px for box shadow */
}

.deckContainer:hover {
  transform: scale(0.97);
}

.deckContainer > h3 {
  position: absolute;
  color: black;
  margin: 0;
  font-size: 15cqw;
}

.deckContainer > img {
  margin: auto;
  border: 1px solid black;
}


.deckContainer > h3, .deckContainer > span, .deckContainer > img {
  pointer-events: none;
}

.deckLetter {
  margin: auto auto 6rem auto;
  font-size: 6rem;
  color: white;
}

.handContainer {
  gap: 1rem;
  top: 11rem;
  left: 0;
  padding: 0 min(2cqw, 1rem);
  margin: 2rem 0;
  opacity: 0;
  width: 100%;
  position: absolute;

  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: start;

  
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(150px, 100%), 1fr)
  );

  transition: opacity 3s ease;
}

.handContainer.gameOn {
  opacity: 1;
}

.handContainer > div {
  width: 100%;
  max-width: 220px;
  height: auto;
  aspect-ratio: 280 / 400;
  align-self: start;
}

.cardContainer {
  width: 100%;
  aspect-ratio: 280 / 400;
  transition: top 2s ease, left 2s ease, transform 0.25s ease;
  perspective: 600px;
  cursor: pointer;
}

.cardContainer:hover {
  transform: translateY(-10px) scale(0.98);
}


.chosenCardMotionDiv {
  position: fixed;
  inset: 0;
  z-index: 10;
  width: calc(80vh * 350 / 500);
  height: 80vh;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: center;

}

.cardContainer.chosen {
  max-width: none;
  pointer-events: auto;
  cursor: auto;
}

.mainContent::after {
  content: "";
  position: fixed;
  inset: 0;
  background: rgb(0 0 0 / 50%);
  z-index: 9;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
}

.mainContent:has(.cardContainer.chosen)::after {
  opacity: 1;
  pointer-events: auto;
}

.cardContainerTilt, .cardFront, .cardBack {
  width: 100%;
  height: 100%;
  border-radius: 0.3cqw;
}

.cardContainerTilt h1, .cardContainerTilt span, .cardContainerTilt img, .deckContainer {
  user-select: none;
}

.cardFront, .cardBack {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  container-type: inline-size;
  border: rgb(74, 74, 74) solid min(max(1.5px, 0.27cqw), 2px);
}

.chosen .cardFront, .chosen .cardBack {
  border: rgb(74, 74, 74) solid 5px;
}

.cardFront > h1 {
  font-size: max(8pt, 10cqw);
  font-weight: light;
}
.cardFront > h1:first-of-type {
  margin: 0 auto 0 0.3em;
}
.cardFront > h1:last-of-type{
  margin: 0 0.3em 0 auto;
}

.cardFront > .mainTechGroup {
  margin: 0.2rem 0;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  justify-items: flex-start;
  flex-grow: 1;
}

.cardFront > .mainTechGroup > .mainTech {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cardFront > .mainTechGroup span {
  font-size: max(10pt, 9cqw);
  font-weight: lighter;
}

.cardFront .mainTechLogo {
  height: max(1rem, 13cqw);
  width: auto;
  font-size: 6pt;
  margin-right: max(0.1rem, 3cqw);
}

.cardFront > .leftLine, .cardFront > .rightLine {
  width: 0.5cqw;
  height: 55%;
  position: absolute;
  background: black;
}
.cardFront > .leftLine {
  top: max(1em, 14cqw);
  left: 10%;
}
.cardFront > .rightLine {
  bottom: max(0.9em, 13cqw);
  right: 10%;
}

.cardFront > .starLogo {
  position: absolute;
  left: 5.2cqw;
  bottom: 2.7cqw;
  width: 10cqw;
}

.cardBack {
  padding: 0 0.3cqw;
}

.cardContainer.chosen .cardBack {
  padding: 0 0.9cqw;
}

.cardBack > .cardHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom: solid black 0.5cqw;
}

.cardBack > .cardHeader > img {
  height: max(0.5em, 9cqw);
  width: auto;
  margin-right: max(0.1rem, 2cqw);
}

.cardBack > .cardHeader > h1 {
  font-size: 9.2cqw;
  font-stretch: ultra-condensed;
  font-weight: light;
  margin: 0.1em auto 0.1em auto;
  text-align: center;
}

.cardBack > .cardHeader > a > img {
  height: max(0.5em, 9cqw);
  width: auto;
  margin-right: max(0.1rem, 2cqw);
  cursor: pointer;
}

.cardBack > .techGroup {
  margin: 2cqw 0;
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5cqw;
}
.cardBack > .techGroup > img {
  height: 8cqw;
  width: auto;
}

.cardBack .scDiv {
  margin: 0 auto;
  width: calc(100%);
  height: 200cqw;
  font-size: 4pt;
  border: 1cqw rgba(0, 0, 0, 0.20) solid;
  overflow: hidden;
  object-fit: fill;
}

.cardBack > p {
  margin-top: 4cqw;
  margin-bottom: 8cqw;
  font-weight: 300;
  font-size: 4cqw;
  width: calc(100%);
  height: 100%;
  line-height: 6.2cqw;
  background-color: rgba(255, 255, 255, 0.15);
  border: 1cqw rgba(0, 0, 0, 0.20) solid;

}

.cardBack > .bottomTextDiv {
  width: calc(100% + 1cqw);
  height: 6cqw;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 4.8cqw;
  color: rgba(0, 0, 0, 0.6);
}
.cardContainer.chosen .cardBack .bottomTextDiv {
  margin-bottom: 0.4cqw;
}


@media (max-width: 580px) {
  .handContainer {
    grid-template-columns: repeat(auto-fit, minmax(min(110px, 100%), 1fr));
    gap: 0.5rem;
  }
  .cardContainer.chosen {
    height: calc(80vw * 400 / 280);
    width: 80vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: none;
  }
}
